$small-width: 320px;
$medium-width: 768px;

$page-width: 800px;
$min-page-width: 600px;

$page-width-phone: 1000px;

$logo-size: 1.75em;
$logo-size-phone: 4em;

$nav-font-size: 1.33em;
$nav-font-size-phone: 2.25em;


@mixin phone {
	@media (pointer: coarse){
		@content;
	}
}
@mixin desktop {
	@media (hover: hover) and (pointer: fine){
		@content;
	}
}

html {
	height: 100%;
	font-family: 'Rokkitt', serif;
	font-size: 24px;

	scroll-behavior: smooth;
	background-color: black;
}
body,header,main,aside,footer,nav{
	display: flex;
	background-color: white;
}
body{
	flex-direction: column;
}
body,nav,h1,h2,h3,h4,h5,p{
	margin: 0px; padding: 0px;
}
h1,h2{
	display: inline-block;
}
a{
	color: black;
	text-decoration: none;
}
p{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
main{
	justify-content: stretch;
	margin-left: 1em; margin-right: 1em;
}
aside{
}
header{
	justify-content: stretch;
	//padding-top: calc(1.0 * #{$nav-font-size-phone});
	//@include desktop{
	//	padding-top: calc(1.0 * #{$nav-font-size});
	//}
	div{
		display: flex;
		align-items: flex-end;
	}
	div.page_width_container{
		width: ($page-width-phone);
		@include desktop{
			width: ($page-width);
		}
		min-width: ($min-page-width);
		flex-direction: column;
	}
	div.row{
		flex-direction: row;
		align-items: center;
	}
	h1{
		font-size: 2.5em;
		font-weight: 400;

		padding-right: 8px;
		padding-bottom: 4px;
		padding-top: 1em;
	}
	.decor{
		background-color: black;
		color: white;
		padding: 4px;
		font-size: 0.5em;
	}
	h2{
		font-size: 1em;
		font-weight: normal;

		background-color: green;
		color: white;

		padding-left: 8px;
		padding-right: 8px;
		padding-top: 4px;
		padding-bottom: 2px;
	}
}
article{
	width: ($page-width-phone);
	@include desktop{
		width: ($page-width);
	}
	min-width: ($min-page-width);
	h1,h2{
		padding-left: 2em;
		background-color: black;
		color: white;

		padding-right: 16px;
		padding-top: 8px;
	}
	h1{
		font-size: 1.5em;
		font-weight: 600;

		border-bottom: 4px solid red;
	}
	h2{
		font-weight: 400;
		font-size: 1.25em;

	}
}
aside{
	flex: 1;
}
footer{
	min-height: 160px;
	background-color: black;
	text-align: center;
	justify-content: center;
	align-items: center;
	div.logo_char{
		color:white;
	}
}
nav{
	position: fixed;
	top: 0; left: 0; right: 0;
	justify-content: center;

	font-size: $nav-font-size-phone;
	@include desktop{
		font-size: $nav-font-size;
	}

	box-shadow: 0px 0px 12px gray;
	min-width: $min-page-width;
	a{
		padding-right: 0.5em;
		padding-left: 0.5em;
		padding-top: 4px;
		border-bottom: 4px solid transparent;
	}
	a:hover{
		border-bottom: 4px solid red;
		transition: 0.7s;
	}
}
.firstword{
	color: red;
	float: left;
	margin-right: 8px;
	font-size: 2em;

}
.anchor{
	display: block;
	position: relative;
	top: -2.5em;
	visibility: hidden;
}
.logo{
	display: inline-block;
	float: left;
	max-height: $logo-size-phone;
	max-width: $logo-size-phone;

	@include desktop{
		max-height: $logo-size;
		max-width: $logo-size;
	}
	height: auto;
	width: auto;
	margin: 12px;
}
.logo_char{
	font-size: $logo-size-phone;
	@include desktop{
		font-size: $logo-size;
	}
	margin: 12px;
}
